@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-text-color: rgb(239 243 247 / 1);
    --primary-bg-color: rgb(20 28 47 / 1);
    --secondary-bg-color: rgb(31 42 72 / 1);
    --button-bg: #007afd;
    --highlight: #0561cb;

    --small: 0.5rem;
    --regular: 1rem;
    --medium: 1.25rem;
    --large: 2rem;
    --very-large: 3rem;

    /* font weights available - 300, 400, 600 */
    --font-family-1: 'Quicksand', sans-serif;

    /* font weights available - 200, 400, 600 */
    --font-family-2: 'Roboto Mono', monospace;
 
    --very-few-spacing: 0.2rem;
    --few-spacing: 0.5rem;
    --regular-spacing: 1rem;
    --medium-spacing: 1.5rem;
    --large-spacing: 2rem;
}

/* defining value of 1rem */
html{
    font-size: 20px;
}

body{
    padding: var(--large-spacing) 0;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

body *{
    font-family: var(--font-family-1);
}

.app-container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    width: 60%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header *{  
    font-family: var(--font-family-2);
}

#header .theme-change{
    background-color: unset;
    border: unset;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#header .theme-change:hover{
    cursor: pointer;
}

.main .user-details{
    background-color: var(--secondary-bg-color);
    padding: var(--regular-spacing);
    gap: var(--regular-spacing);

    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-areas: 
    "avatar name date"
    "avatar username visit"
    "avatar bio bio"
    "avatar stats stats"
    "avatar location twitter"
    "avatar company company"
    ;
    align-items: center;
}

.user-details .user-avatar{
    width: 100%;
    height: auto;
    grid-area: avatar;
    /* round  image*/
    border-radius: 50%;
    align-self: start;
}

.user-details .name {
    grid-area: name;
}

.user-details .joining-date{
    grid-area: date;
    text-align: end;
}

.user-details .username{
    grid-area: username;
    color: #0561cb;
}

.user-details .github-link-container{
    grid-area: visit;
    text-align: end;
    display: grid;
    align-items: center;
}

.user-details .github-link-container .github-link{
    color: #0561cb;
    font-weight: 600;
}

.user-details .user-bio{
    grid-area: bio;
}

.user-details .user-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.user-details .user-location, .user-details .twitter-handle, .user-details .company{
    display: flex;
    align-items: center;
    gap: 2px;
}

.user-details .user-location{
    grid-area: location;
}

.user-details .twitter-handle{
    grid-area: twitter;
}

.user-details .company{
    grid-area: company;
}

.main .search-container {
    height: 3rem;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--regular-spacing) 0;
    padding: 0 var(--regular-spacing);
}

.main .search-container .search-box{
    height: 100%;
    width: 100%;
    padding: var(--regular-spacing);
    margin: 0 var(--regular-spacing);
    background-color: unset;
    border: none;
    font-size: var(--regular);
    font-style: italic;
    letter-spacing: var(--very-few-spacing);
}

input[type=search]{
    color: var(--primary-text-color);
    background-color: unset;
}

input[type=search]:focus-visible{
    outline: none;
}

.main .search-container .search-button{
    font-size: medium;
    padding: var(--few-spacing);
    border-radius: 10px;
    color: var(--primary-text-color);
    background-color: var(--button-bg);
    border: unset;
}

/* tablet responsive */
@media (width <= 800px){
    body{
        padding: var(--large-spacing) 0;
    }

    /* reduce font */
    html{
        font-size: 15px;
    }

    .github-link > svg {
        width: 15px;
        height: 15px;
    }
}

/* mobile responsive */
@media (width <= 525px) {
    html{
        font-size: 13px;
    }
    body{
        padding: var(--small-spacing) 0;
    }

    .inner-container {
        width: 85%;
    }
    .main .user-details{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "avatar name name"
            "avatar username visit"
            "avatar date date"
            "bio bio bio"
            "bio bio bio"
            "bio bio bio"
            "stats stats stats"
            "stats stats stats"
            "location location location"
            "twitter twitter twitter"
            "company company company";
    }

    .github-link > svg {
        width: 10px;
        height: 10px;
    }
}